<footer class="footer py-3 mt-auto">
    <div class="container text-center">
        <span class="footer-text">&copy; Hammock 2020 | Built by <a href="https://github.com/dunleavyjack">@jackjoseph</a> :) </span>
    </div>
</footer>