<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/campgrounds.css">


<div role="main" class="inner cover text-white">
    <h1 class="cover-heading site-title">Development</h1>
    <p class="lead home-text">Jack Joseph  |  <a href="https://github.com/dunleavyjack">@jackjoseph</a><br><em> This web application was built using MongoDB,<br> Express, Node.js, and Bootstrap 5. </em></p>
    <h1 class="cover-heading site-title">Visual Design</h1>
    <p class="lead home-text">Jeonghye Yoon  |  <a href="https://www.jhyoon.work/">@jhyoon</a><br><em>Comprehensive design for pages, logo, <br> and design system.</em></p>
</div>