<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/campgrounds.css">


<div role="main" class="inner cover text-white">
    <h1 class="cover-heading site-title">Development</h1>
    <p class="lead home-text">Jack Joseph  |  <a href="https://github.com/dunleavyjack">@jackjoseph</a><br> This web application was built using MongoDB,<br> Express.js, and Node.js. </p>
    <h1 class="cover-heading site-title">Image Design</h1>
    <p class="lead home-text">Jeonghye Yoon  |  <a href="https://www.jhyoon.work/">@jhyoon</a><br> Background images, icons, and the color pallette. </p>
    
</div>