<% layout('layouts/boilerplate') %> 
<div class="row">
    <div class="col-6 offset-3 mt-5">
        <div class="alert alert-danger" role="alert">
            <img class="img-fluid w-50 h-50" src="../stylesheets/error.png" alt="error">
            <h4 class="alert-heading">Oops, something went wrong. Please try again.</h4>    
        </div>
    </div>
</div>
