<% layout('layouts/boilerplate') %>

<div role="main" class="inner cover text-white">
    <h1 class="cover-heading site-title">Hammock</h1>
    <p class="lead">A campground finder that's out of this world. <br> Jump right in and explore our many campgrounds.</p>
    <p class="lead">
        <a href="/campgrounds" class="btn btn-lg btn-secondary">View Campgrounds</a>
    </p>
</div>






<!-- <div class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Hammock</h1>
            <p class="lead"> Campground finder <br> Jump right in and explore our many campgrounds. <br>
                Feel free
                to add some of your own!</p>
            <a href="/campgrounds" class="btn btn-lg btn-secondary font-weight-bold bg-dark">View
                Campgrounds</a>
        </main>
    </div>
</div> -->


<!-- <div class="container d-flex justify-content-center align-items-center mt-5 text-center align-middle text-white">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-2">
            <main class="px-3">
                <h1 class="site-title">Hammock</h1>
                <p class="lead"> Campground finder <br> Jump right in and explore our many campgrounds. <br>
                    Feel free
                    to add some of your own!</p>
                <a href="/campgrounds" class="btn btn-lg btn-secondary font-weight-bold bg-dark">View
                    Campgrounds</a>
            </main>
        </div>
    </div>
</div> -->


<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hammock | Campground Finder</title>

    <link rel="stylesheet" href="/stylesheets/home.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
        integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/app.css">


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body class="d-flex flex-column vh-100">
    <div class="d-flex text-center align-middle text-white">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <main class="px-3">
                <h1 class="site-title">Hammock</h1>
                <p class="lead"> Campground finder <br> Jump right in and explore our many campgrounds. <br>
                    Feel free
                    to add some of your own!</p>
                <a href="/campgrounds" class="btn btn-lg btn-secondary font-weight-bold bg-dark">View
                    Campgrounds</a>
            </main>
        </div>
    </div>
    <footer class="footer py-3 mt-auto">
        <div class="container text-center">
            <span class="footer-text">&copy; Hammock 2020</span>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js"
        integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d"
        crossorigin="anonymous"></script>

</body>

</html> -->