<% layout('layouts/boilerplate') %>
<div class="container d-flex justify-content-center align-items-center mt-3">
    <div class="row">
        <div class="col-md-4 col-xl-6 w-100">
            <div class="card shadow">
                <img src="/stylesheets/icon.png" alt="" class="card-img-top w-25 h-25 mx-auto d-block mt-3">
                <div class="card-body">
                    <h1 class="site-title">Hammock</h1>
                    <a class="btn btn-secondary btn-block" href="/register" role="button">Create Account</a>
                    <a class="btn btn-primary btn-block" href="/register" role="button">Continue with Facebook</a>
                </div>
            </div>
        </div>
    </div>
</div>
